footer
  section.section
    .container
      .columns.is-multiline
        .column.is-one-third
          article.notification.media.has-background-white
            figure.media-left
              span.icon
                i.has-text-warning.fa.fa-columns.fa-lg
            .media-content
              .content
                h1.title.is-size-4 Columns
                p.is-size-5.subtitle
                  | The power of 
                  strong Flexbox
                  |  in a simple interface
        .column.is-one-third
          article.notification.has-background-white.media
            figure.media-left
              span.icon.has-text-info
                i.fa.fa-lg.fa-wpforms
            .media-content
              .content
                h1.title.is-size-4 Form
                p.is-size-5.subtitle
                  | The indispensable 
                  strong form controls
                  | , designed for maximum clarity
        .column.is-one-third
          article.notification.has-background-white.media
            figure.media-left
              span.icon.has-text-danger
                i.fa.fa-lg.fa-cubes
            .media-content
              .content
                h1.title.is-size-4 Components
                p.is-size-5.subtitle
                  | Advanced multi-part components with lots of possibilities
        .column.is-one-third
          article.notification.has-background-white.media
            figure.media-left
              span.icon.has-text-grey
                i.fa.fa-lg.fa-cogs
            .media-content
              .content
                h1.title.is-size-4 Modifiers
                p.is-size-5.subtitle
                  | An 
                  strong easy-to-read
                  |  naming system designed for humans
        .column.is-one-third
          article.notification.has-background-white.media
            figure.media-left
              span.icon.has-text-primary
                i.fa.fa-lg.fa-superpowers
            .media-content
              .content
                h1.title.is-size-4 Layout
                p.is-size-5.subtitle
                  | Design the 
                  strong structure
                  |  of your webpage with these CSS classes
        .column.is-one-third
          article.notification.has-background-white.media
            figure.media-left
              span.icon.has-text-danger
                i.fa.fa-lg.fa-cube
            .media-content
              .content
                h1.title.is-size-4 Elements
                p.is-size-5.subtitle
                  | Essential interface elements that only require a 
                  strong single CSS class
  .content.has-text-centered
    .control.level-item
      a(href='https://github.com/BulmaTemplates/bulma-templates')
        .tags.has-addons
          span.tag.is-dark Bulma Templates
          span.tag.is-info MIT license
//
  ===============
  HERE BE MODALS
  ===============
// 3dFlipVertical card tiny
#modal-card.modal.modal-fx-3dSlit
  .modal-background
  .modal-content.is-tiny
    // content
    .card
      .card-image
        figure.image.is-4by3
          img(src='https://images.unsplash.com/photo-1515555230216-82228b88ea98?auto=format&fit=crop&w=900&q=60', alt='Placeholder image')
      .card-content
        .media
          .media-left
            figure.image.is-48x48
              img(src='https://res.cloudinary.com/ameo/image/upload/v1639144778/typocat_svbspx.png', alt='avatar')
          .media-content
            p.title.is-4 Jane Doe
            p.subtitle.is-6 @jane_doe
        .content
          | Laum Ipsum apricot peaches venison bookin&apos; it. Moosetown rig up I&apos;m tellin&apos; you way up north bookin&apos; it can&apos;t get theyah from heeyah native bean suppah whawf Powrtland Museum of Aht, back woods hawsun around the pit mummah Yessah, mummah muckle riyht on&apos;ta her
          | Bean&apos;s dinnahbucket bub geez bud sumpin&apos; fierce ayuhpawt Bangah naw, Powrtland Museum of Aht down cellah sumpin&apos; fierce hoppa bub If you can&apos;t stand the wintah you don&apos;t deserve the summah slower than molasses going uphill in January.
          | Sgn&apos;wahl shoggor hrii uaaah R&apos;lyeh uh&apos;e k&apos;yarnak Hastur hupadgh li&apos;hee, hai f&apos;nilgh&apos;ri nilgh&apos;ri n&apos;ghftor ngftaghu vulgtlagln h&apos;hrii throd Nyarlathotep lloig, naflsll&apos;ha nnnsll&apos;ha athg y-ebunma goka chtenff ehyeog cehye. Zhro y&apos;hah
          | nogoth phlegeth stell&apos;bsna orr&apos;e ph&apos;Hastur gnaiih throd, uln ya lw&apos;nafh mg nar&apos;luh li&apos;hee wgah&apos;n, sgn&apos;wahl mg nakadishtu chlirgh hupadgh tharanak h&apos;gnaiih.
          a @bulmaio
          | .
          a(href='#') #css
          a(href='#') #responsive
          br
          time(datetime='2018-02-02') 12:45 AM - 20 June 2018
    // end content
  button.modal-close.is-large(aria-label='close')
// end tiny modal card
// 3dFlipVertical card tiny [butterfly]
#modal-card2.modal.modal-fx-3dSlit
  .modal-background
  .modal-content.is-tiny
    // content
    .card
      .card-image
        figure.image.is-4by3
          img(src='https://images.unsplash.com/photo-1529774172307-627a0ae46dae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80', alt='butterfly')
      .card-content
        .media
          .media-left
            figure.image.is-48x48
              img(src='https://randomuser.me/api/portraits/women/18.jpg', alt='woman')
          .media-content
            p.title.is-4 Jane Doe
            p.subtitle.is-6 @jane_doe
        .content
          | Laum Ipsum junkah potatoes bookin&apos; it. Moosetown rig up I&apos;m tellin&apos; you way up north bookin&apos; it can&apos;t get theyah from heeyah native bean suppah whawf Powrtland Museum of Aht, back woods hawsun around the pit mummah Yessah, mummah muckle riyht on&apos;ta her
          | Bean&apos;s dinnahbucket bub geez bud sumpin&apos; fierce ayuhpawt Bangah naw, Powrtland Museum of Aht down cellah sumpin&apos; fierce hoppa bub If you can&apos;t stand the wintah you don&apos;t deserve the summah slower than molasses going uphill in January.
          | Sgn&apos;wahl shoggor hrii uaaah R&apos;lyeh uh&apos;e k&apos;yarnak Hastur hupadgh li&apos;hee, hai f&apos;nilgh&apos;ri nilgh&apos;ri n&apos;ghftor ngftaghu vulgtlagln h&apos;hrii throd Nyarlathotep lloig, naflsll&apos;ha nnnsll&apos;ha athg y-ebunma goka chtenff ehyeog cehye. Zhro y&apos;hah
          | nogoth phlegeth stell&apos;bsna orr&apos;e ph&apos;Hastur gnaiih throd, uln ya lw&apos;nafh mg nar&apos;luh li&apos;hee wgah&apos;n, sgn&apos;wahl mg nakadishtu chlirgh hupadgh tharanak h&apos;gnaiih.
          a @bulmaio
          | .
          a(href='#') #css
          a(href='#') #responsive
          br
          time(datetime='2018-02-02') 12:45 AM - 20 May 2018
    // end content
  button.modal-close.is-large(aria-label='close')
// end tiny modal card
// Image modal
#modal-image2.modal.modal-fx-3dSlit
  .modal-background
  .modal-content.is-huge.is-image
    // content
    img(src='https://images.unsplash.com/photo-1515555230216-82228b88ea98?auto=format&fit=crop&w=900&q=60', alt='image')
    // end content
  button.modal-close.is-large(aria-label='close')
// Image modal
#modal-image4.modal.modal-fx-3dSlit
  .modal-background
  .modal-content.is-huge.is-image
    // content
    img(src='https://images.unsplash.com/photo-1529774172307-627a0ae46dae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80', alt='butterfly')
    // end content
  button.modal-close.is-large(aria-label='close')
// Image modal
#modal-image.modal.modal-fx-superScaled
  .modal-background
  .modal-content.is-image
    // content
    img(src='https://res.cloudinary.com/ameo/image/upload/v1568711475/pexels-photo-1302883_fjje0f.jpg', alt='Placeholder image')
    //
      <img src="https://source.unsplash.com/zFrUz_tNjCY" alt="placeholder">
    // end content
  button.modal-close.is-large(aria-label='close')